# API конфігурація
BASE_URL=https://s-hryvnia-1.onrender.com
SERVER_PORT=:8080
DIFFICULTY=20

# HTTP налаштування
HTTP_TIMEOUT=5
MAX_RETRIES=3
RETRY_DELAY_MS=100

# Баланс оновлення
BALANCE_CHECK_INTERVAL=1
BALANCE_UPDATE_FREQ=5
ADMIN_PASSWORD=1234567890
